#appname {
    -fx-font-size: 40px;
    -fx-font-family: "cursive";
    -fx-font-style: oblique;
    -fx-font-weight: bolder;
    -fx-fill: #9090B0;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 6, 0.0, 0, 2);
}

Text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(10,100,255,0.5), 0, 0, 1, 1);
}

.root {

}