#content {
    -fx-border-color: gainsboro;
    -fx-border-radius: 0px;
    -fx-border-width: 1px;
}

#background {
    -fx-background: white;
}

.label {
    -fx-font: 10px Arial;
}

#header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#sum {
    -fx-font-weight: bold;
}